body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  /* Стиль для вступительного текста */
.intro-text {
    text-align: center;
    padding: 40px;
    background-color: #f4f4f4;
    margin-bottom: 20px;
  }
  
  .intro-text h1 {
    font-size: 2.5em;
    color: #333;
  }
  .intro-text h2 {
    font-size: 2em;
    color: #333;
  }
  .intro-text p {
    font-size: 1.2em;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
  }
  
  /* Навигационное меню */
  .navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 15px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }

  .game-trailer {
    max-width: 800px;

  }
  /* Слайдер */
.slider-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    display: none; /* Все слайды скрыты по умолчанию */
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  
  .slide-image {
    width: 100%;
    height: auto;
  }
  
  button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button.prev {
    left: 0;
  }
  
  button.next {
    right: 0;
  }